h2 {
  text-align: center;
  font-family: "PT Serif", serif;
  font-size: calc(25px + (30 - 25) * ((100vw - 300px) / (1600 - 300)));
  padding: 0 5px 5px;
  color: #7020ff;
}

.event-box {
  width: 550px;
  padding: 35px;
  margin: 0 auto;
  background: #fff;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

label {
  padding: 10px;
  font-size: calc(14px + (17 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.event-input {
  padding: 10px;
  font-size: calc(14px + (17 - 14) * ((100vw - 300px) / (1600 - 300)));
  width: 90%;
  outline: none;
  border: 1px #7020ff solid;
  margin: 5px;
  border-radius: 4px;
}
.event-submit {
  padding: 10px;
  margin: 10px 0 0 3.5px;
  width: 94.5%;
  font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
  color: white;
  background: #7020ff;
  outline: none;
  border: 1px #7020ff solid;
  border-radius: 4px;
  box-sizing: border-box;
}
.event-submit:hover {
  cursor: pointer;
  background-color: #6916f8;
}

.react-datetime-picker__wrapper {
  border: 1px #7020ff solid !important;
  margin: 5px 5px 21px 5px;
  border-radius: 4px;
  width: 517px;
  box-sizing: border-box;
}
@media only screen and (max-width: 800px) {
  .event-box {
    width: 350px;
  }
  .react-datetime-picker__wrapper {
    width: 337px;
    box-sizing: border-box;
  }
  .event-submit {
    width: 96.5%;
  }
}
@media only screen and (max-width: 450px) {
  .event-box {
    width: 259px;
  }
  .react-datetime-picker__wrapper {
    width: 252px;
  }
  .event-submit {
    width: 98.8%;
  }
}
.react-datetime-picker__inputGroup {
  padding: 10px !important;
  outline: none;
  width: 442px;
  margin: 0;
  height: 42px;
  border: none;
  font-size: calc(14px + (17 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.react-datetime-picker__button {
  outline: none;
}

.error-message {
  color: rgb(255, 129, 129);
  padding: 0 0 5px 15px;
  font-style: italic;
}
