.home-table {
  width: 100%;
  table-layout: fixed;
}

.tbl-header {
  background-color: #fff;
  position: relative;
}

thead {
  /* background: linear-gradient(to right, #3d6cb9, #226b80, #3d6cb9); */
  background-color: #7020ff;
}

/* for scroll */
.tbl-header tbody {
  display: block;
  overflow: auto;
  height: 400px;
  width: 100%;
}

.tbl-header thead tr {
  display: block;
}

/* --upto here -- */

/*scroll bar design */
/* width */
.tbl-header tbody::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
}

/* Track */
.tbl-header tbody::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.tbl-header tbody::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.tbl-header tbody::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* --upto here -- */
th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 600;
  font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
  color: white;
  text-transform: uppercase;
  width: 300px;
  letter-spacing: 1.5px;
}
td {
  padding: 15px 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
  color: black;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  width: 300px;
}
@media only screen and (max-width: 430px) {
  th,
  td {
    padding: 12px 5px;
  }
}
td button {
  border: none;
  outline: none;
  background-color: #fff;
}

tbody tr:hover,
tbody tr:hover button {
  background-color: #f5f7fb;
}

.fa-eye,
.fa-edit,
.fa-trash {
  color: #7020ff;
  padding: 0 5px;
  font-size: calc(16px + (22 - 16) * ((100vw - 300px) / (1600 - 300)));
}

.fa-trash {
  color: rgb(211 1 0);
}

@media only screen and (max-width: 800px) {
  .fa-eye,
  .fa-trash {
    padding: 5px;
  }
  .fa-edit {
    padding: 5px 12px;
  }
  .tbl-header {
    position: relative;
  }
}
