.nav-top {
  background-color: #fff;
  width: 100%;
  position: fixed;
  padding: 20px;
  top: 0;
  box-sizing: border-box;
  z-index: 1;
}

.nav-top {
  float: right;
}

.heading {
  text-decoration: none;
  color: #7020ff;
  font-family: "PT Serif", serif;
  font-size: 40px;
  padding: 10px;
  position: relative;
}
@media only screen and (max-width: 600px) {
  .heading {
    font-size: 20px;
    padding: 3px 10px;
  }
}

.add-event,
.nav-top button {
  color: white;
  text-decoration: none;
  padding: 15px;
  position: relative;
  border-radius: 4px;
  float: right;
  margin: 0 10px;
  font-size: 16px;
}

.add-event {
  /* background: linear-gradient(to right, #3d6cb9, #3d6cb9); */
  background-color: #7020ff;
}

.nav-top button {
  outline: none;
  border: none;
  background-color: rgb(211 1 0);
}

.icon {
  display: none;
}

@media only screen and (max-width: 800px) {
  .nav-top .logout-btn,
  .add-event {
    display: none;
  }
  .icon {
    display: block;
    float: right;
    padding: 3px 10px;
    font-size: 20px;
    color: #7020ff;
    -webkit-font-smoothing: antialiased;
  }
  .responsive {
    position: relative;
  }
  .responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .responsive button,
  .responsive .add-event {
    /* position: absolute; */
    float: none;
    display: block;
    text-align: left;
    width: 100vw;
    z-index: 1;
    background-color: #f5f7fb;
    color: #7020ff;
    top: 7px;
    left: -10px;
    border-radius: 0;
    margin: 0 10px;
    font-size: 22px;
  }
  .responsive button:hover,
  .responsive .add-event:hover {
    background-color: #7020ff;
    color: #fff;
  }
  .nav-top {
    position: absolute;
  }
}
