.nav-top {
  background-color: #fff;
  width: 100%;
  position: fixed;
  padding: 20px;
  top: 0;
  box-sizing: border-box;
}
.heading {
  text-decoration: none;
  color: #7020ff;
  font-family: "Great Vibes", cursive;
  font-size: 48px;
  font-weight: 500;
  padding: 20px;
  position: relative;
}

.add-event {
  background-color: #7020ff;
  color: white;
  text-decoration: none;
  padding: 15px;
  position: relative;
  border-radius: 4px;
  float: right;
  margin: 0 10px;
}

.nav-top button {
  outline: none;
}
