* {
  margin: 0 auto;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.home,
.addEditEvent,
.notFound {
  /* background-color: #f5f7fb; */
  position: relative;
  top: 80px;
  margin: 0 auto;
  height: 80.5vh;
  padding: 20px;
}
/* @media only screen and (max-width: 800px) {
  .home,
  .addEvent,
  .editDetails,
  .notFound {
    top: 80px;
    z-index: -1;
  }
} */
